<div class="Grid t-gutterReset">
  <div class="Grid-col t-widthFull t-sm-widthHalf">
    <h3>Open</h3>
{{#markdown}}
```js
$('.drawer').drawer('open');
```
{{/markdown}}
  </div>
  <div class="Grid-col t-widthFull t-sm-widthHalf">
    <h3>Close</h3>
{{#markdown}}
```js
$('.drawer').drawer('close');
```
{{/markdown}}
  </div>
  <div class="Grid-col t-widthFull t-sm-widthHalf">
    <h3>Toggle</h3>
{{#markdown}}
```js
$('.drawer').drawer('toggle');
```
{{/markdown}}
  </div>
  <div class="Grid-col t-widthFull t-sm-widthHalf">
    <h3>Destroy</h3>
{{#markdown}}
```js
$('.drawer').drawer('destroy');
```
{{/markdown}}
  </div>
</div>
