<div class="Grid t-gutterReset">
  <div class="Grid-col t-widthFull t-sm-widthHalf">
    <h3>Opend</h3>
{{#markdown}}
```js
$('.drawer').on('drawer.opened', function(){});
```
{{/markdown}}
  </div>
  <div class="Grid-col t-widthFull t-sm-widthHalf">
    <h3>Closed</h3>
{{#markdown}}
```js
$('.drawer').on('drawer.closed', function(){});
```
{{/markdown}}
  </div>
</div>
