	  <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=blivesta&amp;repo=drawer&amp;type=star&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
	  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Drawer : {{drawerPkg.description}}" data-url="{{drawerPkg.homepage}}" data-related="{{site.twitter}}" data-size="" data-count="1" data-hashtags="{{drawerPkg.tags}}">Tweet</a>
