---
title: Left position with fixed navbar.
class: drawer drawer--left drawer--navbarTopGutter
layout: page
navbar: "true"
navbar_class: drawer-navbar--fixed
sidebar: "false"
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<section>
{{> include/markup-navbar}}
</section>

{{/content}}
{{/extend}}
