---
title: Left position with sidebar.
class: drawer drawer--left drawer--sidebar
layout: page
navbar: "false"
sidebar: "true"
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<section>
{{> include/markup-sidebar}}
</section>

{{/content}}
{{/extend}}
