---
title: Right position with sidebar.
class: drawer drawer--right drawer--sidebar
layout: page
navbar: "false"
sidebar: "true"
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<section>
<h2>Markup</h2>
{{> include/markup-sidebar}}
</section>

{{/content}}
{{/extend}}
