{{> include/head}}
<body class="{{file.meta.class}}" itemscope itemtype="http://schema.org/WebPage">

{{> include/header}}

<main id="content" role="main" tabindex="-1">
  {{#block "demo-main"}}
  {{#is file.meta.mode "responsive"}}
  <div class="drawer-overlay">
  {{/is}}
  <section class="docs-Main Container Container--slim t-gutter">
    <h2 class="docs-title">Demo</h2>
      {{> include/example-links}}
  </section>

  <section class="docs-Main Container Container--slim t-gutter">
    <h2 class="docs-title">Installation</h2>
{{> include/example-setup}}
  </section>
  {{#is file.meta.mode "responsive"}}
  </div>
  {{/is}}
  {{/block}}
</main>

{{> include/footer}}

</body>
</html>
