.Button {
  transition: var(--Button-transition);
}
.Button--pill {
  border-radius: var(--Button--pill);
}

/* --drawer */
.Button--drawer {
  background-color: var(--Button-drawer-fill);
  border-color: var(--Button-drawer-borderColor);
  color: var(--Button-drawer-color);
  transition: var(--Button-transition);
}
.Button--drawer:matches(:hover,:focus,:active,.is-active) {
  background-color: var(--Button-drawer-color);
  color: #fff;
  border-color: var(--Button-drawer-borderColor);
}
.Button--fill.Button--drawer {
  background-color:var(--ButtonFill-drawer-bgColor);
  color:var(--ButtonFill-drawer-color);
}
.Button--fill.Button--drawer:matches(:hover,:focus,:active,.is-active) {
  background-color:transparent;
  color:var(--ButtonFill-drawer-bgColor);
}

/* --info */
.Button--info {
  background-color: var(--Button-info-fill);
  border-color: var(--Button-info-borderColor);
  color: var(--Button-info-color);
  transition: var(--Button-transition);
}
.Button--info:matches(:hover,:focus,:active,.is-active) {
  background-color: var(--Button-info-color);
  color: #fff;
  border-color: var(--Button-info-borderColor);
}
.Button--fill.Button--info {
  background-color:var(--ButtonFill-info-bgColor);
  color:var(--ButtonFill-info-color);
}
.Button--fill.Button--info:matches(:hover,:focus,:active,.is-active) {
  background-color:transparent;
  color:var(--ButtonFill-info-bgColor);
}

/* --danger */
.Button--danger {
  background-color: var(--Button-danger-fill);
  border-color: var(--Button-danger-borderColor);
  color: var(--Button-danger-color);
  transition: var(--Button-transition);
}
.Button--danger:matches(:hover,:focus,:active,.is-active) {
  background-color: var(--Button-danger-color);
  color: #fff;
  border-color: var(--Button-danger-borderColor);
}
.Button--fill.Button--danger {
  background-color:var(--ButtonFill-danger-bgColor);
  color:var(--ButtonFill-danger-color);
}
.Button--fill.Button--danger:matches(:hover,:focus,:active,.is-active) {
  background-color:transparent;
  color:var(--ButtonFill-danger-bgColor);
}

/* --notice */
.Button--notice {
  background-color: var(--Button-notice-fill);
  border-color: var(--Button-notice-borderColor);
  color: var(--Button-notice-color);
  transition: var(--Button-transition);
}
.Button--notice:matches(:hover,:focus,:active,.is-active) {
  background-color: var(--Button-notice-color);
  color: #fff;
  border-color: var(--Button-notice-borderColor);
}
.Button--fill.Button--notice {
  background-color:var(--ButtonFill-notice-bgColor);
  color:var(--ButtonFill-notice-color);
}
.Button--fill.Button--notice:matches(:hover,:focus,:active,.is-active) {
  background-color:transparent;
  color:var(--ButtonFill-notice-bgColor);
}

/* --success */
.Button--success {
  background-color: var(--Button-success-fill);
  border-color: var(--Button-success-borderColor);
  color: var(--Button-success-color);
  transition: var(--Button-transition);
}
.Button--success:matches(:hover,:focus,:active,.is-active) {
  background-color: var(--Button-success-color);
  color: #fff;
  border-color: var(--Button-success-borderColor);
}
.Button--fill.Button--success {
  background-color:var(--ButtonFill-success-bgColor);
  color:var(--ButtonFill-success-color);
}
.Button--fill.Button--success:matches(:hover,:focus,:active,.is-active) {
  background-color:transparent;
  color:var(--ButtonFill-success-bgColor);
}

/* --warning */
.Button--warning {
  background-color: var(--Button-warning-fill);
  border-color: var(--Button-warning-borderColor);
  color: var(--Button-warning-color);
}
.Button--warning:matches(:hover,:focus,:active,.is-active) {
  background-color: var(--Button-warning-color);
  color: #fff;
  border-color: var(--Button-warning-borderColor);
}
.Button--fill.Button--warning {
  background-color:var(--ButtonFill-warning-bgColor);
  color:var(--ButtonFill-warning-color);
}
.Button--fill.Button--warning:matches(:hover,:focus,:active,.is-active) {
  background-color:transparent;
  color:var(--ButtonFill-warning-bgColor);
}
