.docs-footer {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: var(--docs-footer-bgcolor);
}
.docs-footer li a:link {
  font-size: 13px;
  color: #6c7b88;
  text-decoration: underline;
}
.docs-footer li a:matches(:hover,:focus,:active ) {
  color: #4a545d;
  text-decoration: none;
}
