html,
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

hr {
  display: block;
  height: .1rem;
  margin: 2.4rem 0;
  padding: 0;
  border: 0;
  border-top: .1rem solid #ddd;
}

.docs-Main {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.docs-Main:last-child {
  padding-bottom: 60px;
  border-bottom: none;
}

.docs-title {
  font-size: var(--g-fontSize-hg);
  font-weight: 700;
  color: var(--docs-color);
}
.docs-subtitle {
  font-size: var(--g-fontSize-xl);
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
  color: var(--docs-color);
}

.docs-labels {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: var(--g-fontSize-xs);
  font-weight: 100;
  display: inline-block;
  margin-bottom: 10px;
  padding: .3em .6em .2em;
  vertical-align: baseline;
  white-space: nowrap;
  color: var(--docs-color);
  border-radius: 2px;
  background-color: var(--docs-labels-bgcolor);
}
