---
class: drawer drawer--left
layout: page
navbar: "false"
sidebar: "false"
base_url: "./"
---
{{#extend "page"}}
{{#content "content"}}
<section class="t-mbGt">
  <h1>Installation</h1>

  <h2 class="t-ptLg">Step 1: Link required files</h2>
  <h3>Download</h3>

  <ol class="List">
    <li>
      <a href="https://github.com/blivesta/drawer" target="_blank">Drawer v{{drawerPkg.version}}</a>
    </li>
    <li>
      <a href="https://github.com/jquery/jquery" target="_blank">jQuery 1.11.3+</a> &nbsp; <small>Created by <a href="https://github.com/jquery/jquery/blob/master/AUTHORS.txt" target="_blank">jQuery Foundation and other contributors</a>.</small>
    </li>
    <li>
      <a href="https://github.com/cubiq/iscroll#configuring-the-iscroll" target="_blank">iScroll</a>&nbsp; <small>Created by <a href="http://cubiq.org/" target="_blank">Matteo Spinelli</a>.</small>
    </li>
  </ol>

  <h3>CDN</h3>

{{#markdown}}
```html
<!-- drawer.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/{{drawerPkg.version}}/css/drawer.min.css">
<!-- jquery & iScroll -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/{{drawerPkg.version}}/js/drawer.min.js"></script>
```

[if you use the Package Managers.](./package-managers/)
{{/markdown}}


<h2 class="t-ptLg">Step 2: Markup</h2>

{{> include/markup-base}}


<p>
  <button class="drawer-toggle Button">
    <svg class="fi" viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'><path d='M.004 8h63.998v5.627H.004zM.004 29.187h63.998v5.626H.004zM.004 50.373h63.998V56H.004z'/></svg>&nbsp;Other demo and markup example
  </button>
  {{> include/sandbox-link}}
</p>


<h2 class="t-ptLg">Step 3: Call the Drawer</h2>
{{#markdown}}
```js
$(document).ready(function() {
  $('.drawer').drawer();
});
```
{{/markdown}}

</section>

<section class="t-mbGt">
  <h1>Options</h1>
{{> include/api-options}}
</section>

<section class="t-mbGt">
  <h1>Events</h1>
{{> include/api-events}}
</section>

<section class="t-mbGt">
  <h1>Methods</h1>
{{> include/api-methods}}
</section>

<section class="t-mbGt">
  <h1>Browsers</h1>
  <p>Requires a browser that supports CSS3.</p>
  <ul class="ListInline">
    <li><span class="label">IE10+</span></li>
    <li><span class="label">Safari</span></li>
    <li><span class="label">Chrome</span></li>
    <li><span class="label">Firefox</span></li>
  </ul>
</section>

{{/content}}
{{/extend}}
