---
layout: home
title: Drawer
description: A small CSS3 and jQuery plugin for app style drawer menu.
class: drawer drawer-right
theme: drawer-default
mode: default
base_url: "./"
---
{{#extend "home"}}
{{#content "content"}}
<main id="content" role="main" tabindex="-1">
  <section class="docs-Main Container Container--slim t-gutter t-alignCenter">
    <h2 class="docs-title">Demo</h2>
    <p class="icon-mark"><span class="oi oi-beaker"></span></p>
    {{> include/example-links}}
  </section>

  <section class="docs-Main Container Container--slim t-gutter t-alignCenter">
    <h2 class="docs-title">Installation</h2>
    <p class="icon-mark"><span class="oi oi-code"></span></p>
    <p><a href="{{site.repo_url}}" class="Button Button--warning">Download on GitHub</a></p>

{{> include/example-setup}}
  </section>
</main>
{{/content}}
{{/extend}}
